{% extends 'base_template.html' %}
{% block title %}Create Account{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span12"></div>
  <div class="span12"></div>
  <div class="span12"></div>
</div>
{% if create_form.non_field_errors or create_form.errors.account_exists or create_form.errors.check_email %}
<div class="row-fluid">
  <div class="span6 offset2 alert alert-error">
    {% for error in create_form.errors.account_exists %}
    {{ error }}<br />
    {% endfor %}
    {% for error in create_form.errors.check_email %}
    {{ error }}<br />
    {% endfor %}
    {{ create_form.non_field_errors.as_text }}
  </div>
</div>
{% endif %}
{% include 'accounts/create_form.html' %}
{% endblock %}
