{% extends 'base_template.html' %}
{% block title %}Create Account{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span12"></div>
  <div class="span12"></div>
  <div class="span12"></div>
        <h3 id="create-acount-label">Create Account</h3>
        <form class="form-horizontal" method='post' action='#'>{% csrf_token %}
          <div class='control-group'>
            <label class='control-label' for-'username'>Username</label>
            <div class='controls'>
              <input type='text' name='username' placeholder='Username' id='username' class='span3' value='' />
              <span class='help-block error' id='username-help'></span>
            </div>
          </div>
          <div class='control-group'>
            <label class='control-label' for-'password'>Password</label>
            <div class='controls'>
              <input type='password' name='password' placeholder='Password' id='password' class='span3' />
              <span class='help-block error' id='password-help'></span>
            </div>
          </div>
          <div class='control-group'>
            <label class='control-label' for-'password'>Password</label>
            <div class='controls'>
              <input type='password' name='password-confirm' placeholder='Password' id='password-confirm' class='span3' />
              <span class='help-block error' id='password-confirm-help'></span>
            </div>
          </div>
          <div class='control-group'>
            <label class='control-label' for-'email'>Email</label>
            <div class='controls'>
              <input type='text' name='email' placeholder='Email' id='email' class='span3' value='' />
              <span class='help-block error' id='email-help'></span>
            </div>
          </div>


          <button class="btn btn-primary" type="submit">Create</button>
        </div>
        </form>
  </div>
{% endblock %}
