{% load util_tags %}
{% if create_form.non_field_errors or create_form.errors.account_exists %}
<div class="row-fluid">
  <div class="span6 offset2 alert alert-error">
    {% for error in create_form.errors.account_exists %}
    {{ error }}<br />
    {% endfor %}
    {% for error in create_form.non_field_errors %}
    {{ error }}<br />
    {% endfor %}
  </div>
</div>
{% endif %}
{% block formstart %}{% endblock %}
  <form class="form-horizontal" method='post' action="{% url 'accounts:create' %}">{% csrf_token %}
    {% as_controls 'username' 'Username:' create_form.username create_form.username.errors.as_text %}
    {% as_controls 'password' 'Password:' create_form.password create_form.password.errors.as_text %}
    {% as_controls 'password_confirm' 'Password:' create_form.password_confirm create_form.password_confirm.errors.as_text %}
    {% as_controls 'email' 'Email:' create_form.email create_form.email.errors.as_text %}

    {% block submit %}{% endblock %}
  </form>
{% block formend %}{% endblock %}
