{% extends 'accounts/create_template.html' %}
{% block formstart %}
<div id="create_account" class="modal hide fade" tabindex="-1" role="dialog" aira-labelledby="create_account_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="create_account_label">Create Account</h3>
  </div>

{% endblock %}
{% block submit %}
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
      <button class="btn btn-primary" type="submit">Create</button>
    </div>
{% endblock %}
{% block formend %}
</div>
{% endblock %}
