{% extends 'accounts/create_template.html' %}
{% block formstart %}
<div id="create_account" class="modal hide fade" tabindex="-1" role="dialog" aira-labelledby="create_account_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="create_account_label">Create Account</h3>
  </div>

{% endblock %}
{% block submit %}
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
      <button class="btn btn-primary" type="submit">Create</button>
    </div>
{% endblock %}
{% block formend %}
</div>
{% endblock %}
{% comment %}
<div id="create_account" class="modal hide fade" tabindex="-1" role="dialog" aira-labelledby="create_account_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="create_account_label">Create Account</h3>
  </div>

  <form class="form-horizontal" method='post' action="{% url 'accounts:create' %}">{% csrf_token %}
    <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for-"username">Username</label>
        <div class="controls">
          {{ create_form.username }}
          <span class='error help-inline' id='username_help'>{{ create_form.errors.username.as_text }}</span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for-"password">Password</label>
        <div class="controls">
          {{ create_form.password }}
          <span class='error help-inline' id='password_help'>{{ create_form.errors.password.as_text }}</span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for-"password_confirm">Password</label>
        <div class="controls">
          {{ create_form.password_confirm }}
          <span class='error help-inline' id='password_confirm_help'>{{ create_form.errors.password_confirm.as_text }}</span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for-"email">Email</label>
        <div class="controls">
          {{ create_form.email }}
          <span class='error help-inline' id='email_help'>{{ create_form.errors.email.as_text }}</span>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
      <button class="btn btn-primary" type="submit">Create</button>
    </div>
  </form>
</div>
{% endcomment %}
