{% extends 'base_template.html' %}
{% block title %}Create Account{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span12"></div>
  <div class="span12"></div>
  <div class="span12"></div>
</div>
{% if form.non_field_errors or form.errors.account_exists %}
<div class="row-fluid">
  <div class="span6 offset2 alert alert-error">
    {% for error in form.errors.account_exists %}
    {{ error }}<br />
    {% endfor %}
    {% for error in form.non_field_errors %}
    {{ error }}<br />
    {% endfor %}
  </div>
</div>
{% endif %}
<div class="row-fluid">
  <div class="span8 offset1">
  <form class="form-horizontal" method='post' action="{% url 'accounts:create' %}">{% csrf_token %}
    <div class="control-group">
      <label class="control-label" for-"username">Username</label>
      <div class="controls">
        {{ form.username }}
        <span class='error help-inline' id='username_help'>{% for error in form.username.errors %}{{ error|escape }}{% endfor %}</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for-"password">Password</label>
      <div class="controls">
        {{ form.password }}
        <span class='error help-inline' id='password_help'>{% for error in form.password.errors %}{{ error|escape }}{% endfor %}</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for-"password_confirm">Password</label>
      <div class="controls">
        {{ form.password_confirm }}
        <span class='error help-inline' id='password_confirm_help'>{% for error in form.password_confirm.errors %}{{ error|escape }}{% endfor %}</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for-"email">Email</label>
      <div class="controls">
        {{ form.email }}
        <span class='error help-inline' id='email_help'>{% for error in form.email.errors %}{{ error|escape }}{% endfor %}</span>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn" name="submit">Create</button>
      </div>
    </div>
  </form>
  </div>
</div>
{% endblock %}
