{% extends 'base_template.html' %}
{% block title %}Edit Account{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span12"></div>
  <div class="span12"></div>
  <div class="span12"></div>
</div>
{% if edit_account_form.non_field_errors or edit_account_form.errors.account_exists or edit_account_form.errors.check_email %}
<div class="row-fluid">
  <div class="span6 offset2 alert alert-error">
    {% for error in edit_account_form.errors.account_exists %}
    {{ error }}<br />
    {% endfor %}
    {% for error in edit_account_form.errors.check_email %}
    {{ error }}<br />
    {% endfor %}
    {{ edit_account_form.non_field_errors.as_text }}
  </div>
</div>
{% endif %}
<form class="form-horizontal" method="post" action="{% url 'accounts:edit' %}">{% csrf_token %}
  <div class="control-group">
    <label class="control-label" for="birthday">Birthday:</label>
    <div class="controls">
      {{ edit_account_form.birthday }}
      <span class="error help-inline" id="birthday_help">{{ edit_account_form.birthday.errors.as_text }}</span>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <div class="input-append">
        <div class="btn-group">
          <button id="gender_button" class="btn dropdown-toggle" data-toggle="dropdown">
            Select Gender <span class="caret"></span>
          </button>
          <input type="hidden" name="gender" value="Select Gender" />
          <ul class="dropdown-menu">
            <li><a href="#" onclick="selectItem('Select Gender', 'gender')">Select Gender</a></li>
            <li class="divider"</li>
            <li><a href="#" onclick="selectItem('Male', 'gender')">Male</a></li>
            <li><a href="#" onclick="selectItem('Female', 'gender')">Female</a></li>
          </ul>
        </div>
      </div>
      <span class="error help-inline"id="gender_help">{{ edit_account_form.gender.errors.as_text }}</span>
    </div>
  </div>

  {% comment %}
  units, height, activity_multiplier
  {% endcomment %}
<script type="text/javascript">
  function selectItem(id, name) {
    $('#' + name + '_button').html(id + ' <span class="caret"></span>');
    if(id === 'Select Gender') {
      $('input[name=' + name + ']').val('');
      $('input[name=' + name + ']').removeAttr('readonly');
    }
    else {
      $('input[name=' + name + ']').val(id);
      $('input[name=' + name + ']').attr('readonly', 'readonly');
    }
  }
</script>
{% endblock %}
