{% extends 'base_template.html' %}
{% block title %}Edit Account{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span12"></div>
  <div class="span12"></div>
  <div class="span12"></div>
</div>
{% if edit_account_form.non_field_errors or edit_account_form.errors.account_exists or edit_account_form.errors.check_email %}
<div class="row-fluid">
  <div class="span6 offset2 alert alert-error">
    {% for error in edit_account_form.errors.account_exists %}
    {{ error }}<br />
    {% endfor %}
    {% for error in edit_account_form.errors.check_email %}
    {{ error }}<br />
    {% endfor %}
    {{ edit_account_form.non_field_errors.as_text }}
  </div>
</div>
{% endif %}
{% endblock %}
