{% extends 'date_picker.html' %}

{% block title %}Edit Account{% endblock %}
{% block content %}
{% load util_tags %}
<div class="row-fluid">
  <h3>Welcome, {{ account.username }}!</h3>
  <h4>Current Settings:</h4>
  <div class="span12"></div>
</div>

{% if form.non_field_errors %}
  {% display_error form.non_field_errors %}
{% endif %}
{% if success %}
  {% display_success success %}
{% endif %}

<div class="row-fluid">
<form class="form-horizontal" method="post" action="{% url 'accounts:index' %}">{% csrf_token %}
  {% as_controls 'birthday'    'Birthday:'            form.birthday    form.errors.birthday.as_text %}
  {% as_controls 'gender'      'Gender:'              form.gender      form.errors.gender.as_text %}
  {% as_controls 'units'       'Units:'               form.units       form.errors.units.as_text %}
  {% as_controls 'height'      'Height:'              form.height      form.errors.height.as_text %}
  {% as_controls 'multipliers' 'Activity Multiplier:' form.multipliers form.errors.multipliers.as_text %}
  {% as_submit 'Update' True disable %}
</form>
</div>
<script type="text/javascript">
  function selectItem(f, name) {
    id = f.getAttribute('id');
    html = $('#' + id).html();
    $('#' + name + '_button').html(html + " <span class=\"caret\"></span>");
    $('input[name=' + name + ']').val(val);
  }
  
  $(function() { 
    $('#id_birthday').datepicker();
  });

</script>
{% endblock %}
