{% extends 'date_picker.html' %}

{% load util_tags %}
{% block title %}Edit Account{% endblock %}
{% block content %}
<div class="row-fluid">
  <h3>Welcome, {{ account.username }}!</h3>
  <h4>Current Settings:</h4>
  <div class="span12"></div>
</div>

{% if form.non_field_errors or form.errors.account_exists or form.errors.check_email %}
<div class="row-fluid">
  <div class="span6 offset2 alert alert-error">
    {% for error in form.errors.account_exists %}
    {{ error }}<br />
    {% endfor %}
    {% for error in form.errors.check_email %}
    {{ error }}<br />
    {% endfor %}
    {{ form.non_field_errors.as_text }}
  </div>
</div>
{% endif %}
<div class="row-fluid">
<form class="form-horizontal" method="post" action="{% url 'accounts:index' %}">{% csrf_token %}
  {% as_controls 'birthday' 'Birthday:' form.birthday form.birthday.errors.as_text %}
  {% as_dropdown 'gender' genders form.gender.errors.as_text "selectItem(this, 'gender')" gender_default 'Gender:'%}
  {% as_dropdown 'units' units form.units.errors.as_text "selectItem(this, 'units')" unit_default 'Units: '%}
  {% as_controls 'height' 'Height:' form.height form.height.errors.as_text %}
  {% as_dropdown 'multipliers' multipliers form.activity_multiplier.errors.as_text "selectItem(this, 'multipliers')" multiplier_default 'Activity Multiplier:' %}
  {% as_submit 'Update'%}
</form>
</div>
<script type="text/javascript">
  function selectItem(f, name) {
    id = f.getAttribute('id');
    html = $('#' + id).html();
    $('#' + name + '_button').html(html + " <span class=\"caret\"></span>");
    $('input[name=' + name + ']').val(val);
  }
  
  $(function() { 
    $('#id_birthday').datepicker();
  });

</script>
{% endblock %}
