{% extends 'date_picker.html' %}

{% block title %}Edit Account{% endblock %}
{% block content %}
{% load util_tags %}
<div class="row-fluid">
  <h3>Welcome, {{ account.username }}!</h3>
  <h4>Current Settings:</h4>
  <div class="span12"></div>
</div>

{% if form.non_field_errors %}
  {% display_error form.non_field_errors %}
{% endif %}
{% if success %}
  {% display_success success %}
{% endif %}

<div class="row-fluid">
<form class="form-horizontal" method="post" action="{% url 'accounts:index' %}">{% csrf_token %}
  {% as_controls 'birthday'             'Birthday:'   form.birthday                                   form.errors.birthday.as_text %}
  {% as_dropdown 'gender'               genders       form.errors.gender.as_text                      'Gender'                gender_default %}
  {% as_dropdown 'units'                units         form.errors.units.as_text                       'Units'                 unit_default %}
  {% as_controls 'height'               'Height:'     settings.height                                 settings.errors.height %}
  {% as_dropdown 'recalculate_day_of_week' recalc        settings.errors.recalculate_day_of_week.as_text 'Recalculate Day'       recalc_default %}
  {% as_dropdown 'activity_multiplier'  multipliers   settings.errors.ractivity_multiplier.as_text    'Activity Multiplier:'  mult_default %}
  {% as_submit 'Update' True disable %}
</form>
</div>
{% endblock %}
{% block extrajs %}
{% load static %}
<script src="{% static 'js/jquery/jquery-ui-1.10.3.custom.js' %}"></script>
<script type="text/javascript">
  $(function() { 
    $('#id_birthday').datepicker();
    window.setTimeout(function() { $('.alert').alert('close'); }, 2000);
  });
</script>
{% endblock %}
