{% extends 'base_template.html' %}
{% block title %}{% block which-page %}View{% endblock %} Ingredients{% endblock %}
{% block container %}<div class="container-fluid">{% endblock %}
{% block content %}
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul name="catg_nav" class="nav nav-list">
          <li class="nav-header">Food Categories</li>
          <li id="allcategories" class="active" name="categories" onclick="loadIngredientsTable('All Categories', 'allcategories', 'categories')">
          <a href="#">All Categories</a>
          </li>
          {% for category in categories %}
          <li id="{{ category|lower }}" name="categories" onclick="loadIngredientsTable('{{ category }}', '{{ category|lower }}', 'categories')">
          <a href="#">{{ category }}</a>
          </li>
          {% endfor %}
          <hr />
        </ul>
        <ul name="brand_nav" class="nav nav-list">
          <li class="nav-header">Brands</li>
          <li id="allbrands" class="active" name="brands" onclick="loadIngredientsTable('All brands', 'allbrands', 'brands')">
          <a href="#">All brands</a>
          </li>
          {% for brand in brands %}
          <li id="{{ brand|lower|cut:' '|cut:'\'' }}" name="brands" onclick="loadIngredientsTable('{{ brand|addslashes }}', '{{ brand|lower|cut:' '|cut:'\'' }}', 'brands')">
          <a href="#">{{ brand }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="span10">
      <div id="table_content">
      {% include 'ingredients/ingredient_table.html' %}
      </div>
    </div>
  </div>

{% endblock %}
