{% if form.non_field_errors or form.errors.account_exists %}
<div class="row-fluid">
  <div class="span6 offset2 alert alert-error">
    {% for error in form.errors.account_exists %}
    {{ error }}<br />
    {% endfor %}
    {% for error in form.non_field_errors %}
    {{ error }}<br />
    {% endfor %}
  </div>
</div>
{% endif %}
{% block formstart %}{% endblock %}
  <form class="form-horizontal" method='post' action="{% url 'ingredients:create' %}">{% csrf_token %}
    {% load util_tags %}
    {% as_controls 'name'                 'Ingredient Name:'        form.name                 form.errors.name.as_text %}
    {% as_controls 'brand'                'Brand:'                  form.brand                form.errors.brand.as_text %}
    {% as_controls 'category'             'Category:'               form.category             form.errors.category.as_text %}
    {% as_controls 'default_serving_size' 'Default Serving Size:'   form.default_serving_size form.errors.default_serving_size.as_text %}
    {% as_controls 'default_serving_size' 'Default Serving Unit:'   form.default_serving_unit form.errors.default_serving_unit.as_text %}
    {% as_controls 'alt_serving_size'     'Alternate Serving Size:' form.alt_serving_size     form.errors.alt_serving_size.as_text %}
    {% as_controls 'alt_serving_size'     'Alternate Serving Unit:' form.alt_serving_unit     form.errors.alt_serving_unit.as_text %}
    {% as_controls 'calories'             'Calories:'               form.calories             form.errors.calories.as_text %}
    {% as_controls 'fat'                  'Fat:'                    form.fat                  form.errors.fat.as_text %}
    {% as_controls 'carbohydrates'        'Carbohydrates:'          form.carbohydrates        form.errors.carbohydrates.as_text %}
    {% as_controls 'protein'              'Protein:'                form.protein              form.errors.protein.as_text %}

    {% block submit %}{% endblock %}
  </form>
{% block formend %}{% endblock %}
