{% extends 'base_template.html' %}
{% block title %}{% block which-page %}View{% endblock %} Ingredients{% endblock %}
{% block container %}<div class="container-fluid">{% endblock %}
{% block content %}
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul name="catg_nav" class="nav nav-list">
          <li class="nav-header">Food Categories</li>
          <li id="categories_all" class="active" name="categories" onclick="activate(this)">
          <a href="#">All Categories</a>
          </li>
          {% for category in categories %}
          <li id="category_{{ category.id }}" name="categories" onclick="activate(this)">
          <a href="#">{{ category }}</a>
          </li>
          {% endfor %}
          <hr />
        </ul>
        <ul name="brand_nav" class="nav nav-list">
          <li class="nav-header">Brands</li>
          <li id="brand_all" class="active" name="brands" onclick="activate(this)">
          <a href="#">All brands</a>
          </li>
          {% for brand in brands %}
          <li id="brand_{{ brand.id }}" name="brands" onclick="activate(this)">
          <a href="#">{{ brand }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="span10">
      <div id="table_content">
      {% include 'ingredients/ingredient_table.html' %}
      </div>
    </div>
  </div>

<script type="text/javascript">
  function activate(item) { 
    name = item.getAttribute('name');
    id = item.getAttribute('id');
    $('li[name='+name+']').removeClass('active');
    item.setAttribute('class','active');

    if(name === 'categories') {
      brnd = $('li[name=brands].active').attr('id');
      brnd = brnd.replace("brand_", '');
      id = id.replace('category_', '');
      $.get("{% url 'ingredients:load_table' %}", {category: id, brand: brnd}, function(data) { 
        $('#table_content').hide().html(data).fadeIn('fast');
      });
    }
    else if(name === 'brands') { 
      catg = $('li[name=categories].active').attr('id');
      catg = catg.replace("category_", '');
      id = id.replace("brand_", '');
      $.get("{% url 'ingredients:load_table' %}", {category: catg, brand: id}, function(data) {
        $('#table_content').hide().html(data).fadeIn('fast');
      });
    }
  }

</script>
{% endblock %}
