
      <h4>Ingredients</h4>
      <table class="table table-striped table-bordered table-hover tabled-condensed">
        <tr>
          <th>Category</th>
          <th>Brand</th>
          <th>Name</th>
          <th>Serving Size (default)</th>
          <th>Serving Size (alternate)</th>
          <th>Calories (kCal)</th>
          <th>Fat (g)</th>
          <th>Carbohydrates (g)</th>
          <th>Protein (g)</th>
        </tr>
        {% for ingredient in ingredients %}
        <tr>
          <td>{{ ingredient.brand }}</td>
          <td>{{ ingredient.category }}</td>
          <td>{{ ingredient.name }}</td>
          <td>{{ ingredient.default_serving_size }} {{ ingredient.default_serving_unit }}</td>
          <td>{{ ingredient.alt_serving_size }} {{ ingredient.alt_serving_unit }}</td>
          <td>{{ ingredient.calories }}</td>
          <td>{{ ingredient.fat }}</td>
          <td>{{ ingredient.carbohydrates }}</td>
          <td>{{ ingredient.protein }}</td>
        </tr>
        {% endfor %}
      </table>
