    <!-- footer.html -->
    <div class='navbar navbar-fixed-bottom'>
      <div class='navbar-inner'>
        <div class='span'></div>
        <p class='navbar-text pull-left additional-info'>Report any concerns to <?php echo hyperlink('mailto:mlaursen03@gmail.com?subject=Fitness Helper Website: ', 'mlaursen03@gmail.com'); ?></p>
        <div class='span3 offset5'>
          <a class='brand'>BETTERU</a>
        </div>
        <p class='span3 navbar-text pull-right additional-info'><?php echo lastMod( __FILE__ ); ?></p>
      </div>
    </div>
  </body>
</html>
