    <!-- footer.html -->
    <div class='navbar navbar-fixed-bottom'>
      <div class='navbar-inner'>
        <!--<div class="container">-->
          <p class='navbar-text pull-left additional-info'>
          Report any concerns to {{ "mlaursen03@gmail.com?subject=BetterU: "|urlizetrunc:23 }}
          </p>
          <div class='offset5'>
            <a class='brand' style="text-align: center">BETTERU</a>
          </div>
          <p class='navbar-text pull-right additional-info'>
          Last Modified: 
          </p>
        <!--</div>-->
    </div>
  </body>
</html>
