    <div class='navbar navbar-inverse'>
      <div class='navbar-inner'>
        <a class='brand' href=''>INFO</a>
        <ul class='nav'>
            <li><a href="{% url 'stats:index' %}">Stats</a></li>
          <li><a href='#'>Goals</a></li>
          <li><a href='#'>Settings</a></li>
          <li><a href='#'>Ingredients</a></li>
          <li><a href='#'>Meals</a></li>
        </ul>
        <ul class='nav pull-right'>
          
          {% comment %}
          <li><a data-toggle='modal' href='#'>Add Ingredient</a></li>
          <li><a data-toggle='modal' href='#'>Add Meal</a></li>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
          {% endcomment %}
          <li><a href='logout.php'>Logout</a></li>
        </ul>
      </div><!-- end navbar-inner -->
    </div><!-- end navbar navbar-inverse -->
    <!-- end title bar -->
