    <div class='navbar navbar-inverse'>
      <div class='navbar-inner'>
        <a class='brand' href='about.html'>INFO</a>
        <ul class='nav'>
          <li><a href='home.html'>Home</a></li>
          <li><a href='days.html'>Day Info</a></li>
          <li><a href='settings.html'>Settings</a></li>
          <li><a href='ingredients.html'>Ingredients</a></li>
          <li><a href='recipes.html'>Recipes</a></li>
        </ul>
        <ul class='nav pull-right'>
          
          {% comment %}
          <li><a data-toggle='modal' href='handle-forms.html#add-ingredient'>Add Ingredient</a></li>
          <li><a data-toggle='modal' href='recipes.html#add-recipe'>Add Recipe</a></li>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
          {% endcomment %}
          <li><a href='logout.php'>Logout</a></li>
        </ul>
      </div><!-- end navbar-inner -->
    </div><!-- end navbar navbar-inverse -->
    <!-- end title bar -->
