{% extends 'base_template.html' %}
{% load static %}
{% load util_tags %}
{% block title %}{% block which-page %}View{% endblock %} Meals{% endblock %}
{% block additional_css %}<link href="{% static 'css/meals.css' %}" rel="stylesheet" />{% endblock %}
{% block container %}<div class="container-fluid">{% endblock %}
{% block content %}
<h4>All Meals</h4>
<div class="row-fluid">
{% for meal in meals %}
{% another_row forloop.counter %}
<div class="box" id="meal_{{ meal.id }}">
  <a href="{% url 'goals:add' %}/{{ meal.id }}"></a>
  <div class="contents">
    <div class="name">
      {{ meal.name }}
    </div>
    <hr />
    <div class="block nutritional-facts">
      <div class="head">Nutritional Facts</div>
      <div><strong>Calories: </strong>{{ meal.total_calories }}</div>
      <div><strong>Fat: </strong>{{ meal.total_fat }}g</div>
      <div><strong>Carbohydrates: </strong>{{ meal.total_carbohydrates }}g</div>
      <div><strong>Protein: </strong>{{ meal.total_protein }}g</div>
    </div>
    <hr />
    <div class="ingredients">
      <div class="head">
        Ingredients:
      </div>
      {% ingredient_list meal.id %}
    </div>
    <hr />
    <strong>Description:</strong> {{ meal.description }}
  </div>
</div>
{% endfor %}
</div>
<script type="text/javascript">
  $(".box").hover(function() {
      $(this).attr('title', "Click to add this meal to your current day.");
  });
  $(".box").click(function () {
      id = $(this).attr('id');
      window.location = "{% url 'goals:add' %}" + id;
  });
</script>
{% endblock %}

