{% extends 'base_template.html' %}
{% load static %}

{% block title %}Page Not Found{% endblock %}
{% comment %}{% block body %}<body background="{% static 'media/imgs/404.jpg' %}">{% endblock %}{% endcomment %}
{% block body %}<body class='page404'>{% endblock %}
{% block content %}
<div class="span10">
  <h1 class='not_found'>Uh oh, Something Broke!</h1>
  <h3>We're Sorry</h3>
  <p>
  What you are looking for doesn't seem to exist.
  Check out any of the links on the navigation bar or go to the <a href="{% url 'accounts:login' %}">index</a> page.
  </p>
</div>
  <div class="thanks">
    Thanks to Writer <a href="http://techfar.com/author/gmornob/">gnornob</a> for the free 404 page.
  </div>
{% endblock %}
