{% load static %}
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>BetterU - {% block title %}BASE_TEMP{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootsrap-responsive.css' %}" rel="stylesheet" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <div class='navbar navbar-inverse'>
      <div class='navbar-inner'>
        <a class='brand' href="/info/">INFO</a>
        <ul class='nav'>
          <li><a href="{% url 'stats:index' %}">Stats</a></li>
          <li><a href="{% url 'goals:index' %}">Goals</a></li>
          <li><a href="{% url 'accounts:index' %}">Settings</a></li>
          <li><a href="{% url 'ingredients:index' %}">Ingredients</a></li>
          <li><a href="{% url 'meals:index' %}">Meals</a></li>
        </ul>
        <ul class='nav pull-right'>
          <li><a data-toggle='modal' href="{% url 'ingredients:add' %}">Add Ingredient</a></li>
          <li><a data-toggle='modal' href="{% url 'meals:add' %}">Add Meal</a></li>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
          <li><a href='logout.php'>Logout</a></li>
        </ul>
      </div><!-- end navbar-inner -->
    </div><!-- end navbar navbar-inverse -->
    <!-- end title bar -->
    <div class='container'>
      {% block content %}
      {% endblock %}
    </div>
    <!-- footer.html -->
    <div class='navbar navbar-fixed-bottom'>
      <div class='navbar-inner'>
        <table class="navbar-bot">
          <tr>
            <td class="left">
              <span class='additional-info'>Report any concerns to {{ "mlaursen03@gmail.com?subject=BetterU: "|urlizetrunc:23 }}</span>
            </td>
            <td class="center">
              <a class='brand'>BETTERU</a>
            </td>
            <td class="right">
              <span class='additional-info'>Last Modified: somedate.jpg</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
