{% extends 'base_template.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block additional_css %}
<link href="{% static 'css/bootstrap/overcast/jquery-ui-1.10.3.custom.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}

{% endblock %}
{% block extrajs %}
<script src="{% static 'js/jquery/jquery-ui-1.10.3.custom.js' %}"></script>
<script type="text/javascript">
  $(function() {
    $('#datepicker').datepicker();
  });
</script>
{% endblock %}
{% block extra_js %}{% endblock %}
