
table.meals {
    width: 100%;
    border-spacing: 10px 10px;
    border-collapse: separate;
    border: none;
}

.meals td {
    border: 1px solid;
    border-radius: 7px;
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
}

/*
.meals td:hover, .meals td:active, .meals td:focus {
    background-color: #CCFF00;
}
*/
.meal-name {
    text-align: left;
    font-size: 16px;
    display: block;
    font-weight: bold;
}


div.box {
    width: 18%;
    padding: 10px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 7px;
    float: left;
    min-height: 300px;
    height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #F0F0F0;
    box-shadow: 5px 5px 5px #888888;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

div.box:hover {
    overflow: visible;
    height: auto;
    background-color: #C8C8C8;
    margin-top:2px;
}

.box .contents {
    text-align: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    width: 95%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: white;
    font-size: 14px;
    margin-top: 10px;
}

.contents .name {
    font-size: 18px;
    font-weight: bold;
}

.contents .nutritional-facts {
    display: block;
}

.head {
    font-size: 16px;
    font-weight: bold;
}

.box hr {
    border-color: black;
    background-color: black;
}
