{% extends 'base_template.html' %}
{% block extrahead %}{% include 'datepicker.html' %}{% endblock %}
{% block title %}{% block which-page %}View{% endblock %} Meals{% endblock %}
{% block content %}
<div class="row-fluid">
  <h4>Today's Stats</h4>
  <table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
      <th>Weight</th>
      <th>Calories</th>
      <th>Fat</th>
      <th>Carbohydrates</th>
      <th>Protein</th>
      <th>Fat Mutliplier</th>
      <th>Carb Multiplier</th>
    </tr>
    <tr>
      <td>  stuff  </td>
      <td>  stuff  </td>
      <td>  stuff  </td>
      <td>  stuff  </td>
      <td>  stuff  </td>
      <td>  stuff  </td>
      <td>  stuff  </td>
    </tr>
  </table>
</div>
<h5>Weight change since: <input type="text" id="datepicker" /></h5>
{% endblock %}
